body {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: rgb(0, 0, 0);
}

.title {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
}

.app {
    display: flex;
    justify-content: center;
}

.menu {
    margin-left: 13%;
    margin-right: -25%;

    button {
        margin: 20px;
    }
}

.center__continue-button {
    width: 170px;
    height: 50px;
    background: white;
}

button:hover {
    box-shadow: inset 0 0 10px grey;
}

.menu__round-counter {
    margin: 40px 20px;
    display: flex;
}

.menu__round-counter__round-text,
.round {
    font-size: 45px;
}

.mode__info {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 45px;
}

.mode__current-mode {
    font-size: 35px;
    margin: 20px;
}

.canv__top,
.canv__main,
.canv__bottom,
.canv__alert-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

p {
    margin: 5px;
    font-size: 30px;
}

.canv__alert-info__massage,
.tap-count {
    margin: 15px;
    font-size: 35px;
}

.central-menu__taps-counter {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 35px;
}

.menu__start-button {
    width: 150px;
    height: 50px;
    background: white;
}

button {
    font-size: 25px;
    cursor: pointer;
    border-radius: 50px;
    border: rgb(0, 0, 0) solid 3px;
    box-shadow: 0 0 10px grey;
}

.mode button {
    margin-right: 0;
    width: 100px;
    height: 40px;
}

.easy {
    background: rgb(31, 201, 31);
}

.hard {
    background: rgb(235, 48, 48);
}

.circle {
    cursor: pointer;
    width: 150px;
    height: 150px;
    border: solid 5px;
    border-radius: 50%;
    margin: 20px 30px;

    &:hover {
        transform: scale(1.15);
    }
}

.red {
    border-color: var(--color, #ff6f69);
    box-shadow: 0 0 var(--shadow) #ff6f69, 0 0 var(--shadow) #ff6f69, 0 0 var(--shadow) #ff6f69;
    box-shadow: inset 0 0 var(--shadow) #ff6f69, 0 0 var(--shadow) #ff6f69, 0 0 var(--shadow) #ff6f69;
}

.blue {
    border-color: var(--color, #69d0ff);
    box-shadow: 0 0 var(--shadow) #69d0ff, 0 0 var(--shadow) #69d0ff, 0 0 var(--shadow) #69d0ff;
    box-shadow: inset 0 0 var(--shadow) #69d0ff, 0 0 var(--shadow) #69d0ff, 0 0 var(--shadow) #69d0ff;
}

.yellow {
    border-color: var(--color, #fff243);
    box-shadow: 0 0 var(--shadow) #fff9a4, 0 0 var(--shadow) #fff9a4, 0 0 var(--shadow) #fff9a4;
    box-shadow: inset 0 0 var(--shadow) #fff9a4, 0 0 var(--shadow) #fff9a4, 0 0 var(--shadow) #fff9a4;
}

.green {
    border-color: var(--color, #94f8a9);
    box-shadow: 0 0 var(--shadow) #94f8a9, 0 0 var(--shadow) #94f8a9, 0 0 var(--shadow) #94f8a9;
    box-shadow: inset 0 0 var(--shadow) #94f8a9, 0 0 var(--shadow) #94f8a9, 0 0 var(--shadow) #94f8a9;
}

.orange {
    border-color: var(--color, #f5bb8c);
    box-shadow: 0 0 var(--shadow) #f5bb8c, 0 0 var(--shadow) #f5bb8c, 0 0 var(--shadow) #f5bb8c;
    box-shadow: inset 0 0 var(--shadow) #f5bb8c, 0 0 var(--shadow) #f5bb8c, 0 0 var(--shadow) #f5bb8c;
}

.pink {
    border-color: var(--color, #f894da);
    box-shadow: 0 0 var(--shadow) #f894da, 0 0 var(--shadow) #f894da, 0 0 var(--shadow) #f894da;
    box-shadow: inset 0 0 var(--shadow) #f894da, 0 0 var(--shadow) #f894da, 0 0 var(--shadow) #f894da;
}